section#contact.section.scrollspy.full-height
  h3.page-title.white-text.teal Contact
  .container
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Email Sumeet', href='mailto:contactme@sumeetsahu.com', data-position='top', data-tooltip='Email Sumeet')
        i.fa.fa-envelope
        a.hoverline(alt='', href='mailto:contactme@sumeetsahu.com') contactme@sumeetsahu.com
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Sumeet on GitHub', href='http://github.com/sumeetsahu', target='_blank', data-position='top', data-tooltip='View Sumeet on GitHub')
        i.fa.fa-github
        a.hoverline(alt='', href='http://github.com/sumeetsahu') github.com/sumeetsahu
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Sumeet on LinkedIn', href='http://linkedin.com/in/sumeetsahu', target='_blank', data-position='top', data-tooltip='View Sumeet on LinkedIn')
        i.fa.fa-linkedin
        a.hoverline(alt='', href='http://linkedin.com/in/sumeetsahu') linkedin.com/in/sumeetsahu
